[Desktop Entry]
Version=1.0
Type=Application
Name=Copilot
Comment=TypixDeck 板载固件商店
Exec=/usr/bin/typix-copilot --fullscreen
Icon=typix-copilot
Terminal=false
Categories=System;Utility;
StartupNotify=true
X-TypixDeck-FullscreenAppId=ai.typixdeck.copilot;
